<h2>About Us </h2>
</br>
<p>The Ateneo High School Guidance Office System or AHS System is a system developed by three Management Information Systems students (A-Team) from the Ateneo de Manila University. The System serves the purpose of automating the previously manual tasks  and operations of the Ateneo High School Guidance Office. Some basic functions include browsing through student profiles, adding counselor notations, routine interviews and scheduling of interviews for the counselors. The secretary can also upload files to the system given by the Office of Admissions and Aid. </p>
