<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @nature_of_problem_type.name %>
</p>


<%= link_to 'Edit', edit_nature_of_problem_type_path(@nature_of_problem_type) %> |
<%= link_to 'Back', nature_of_problem_types_path %>
