<div id="sched">
					<table>
						<tr id="headname">
							<td>Monday</td>
							<td>Tuesday</td>
							<td>Wednesday</td>
							<td>Thursday</td>
							<td>Friday</td>
						</tr>
						<% @grouped_periods.each do |period_group| %>
							<tr>
								<% period_group.each do |period| %>
									<td>
										<% entry = period.schedule_entries.find {|entry| entry.user == current_user } %>
										<% if entry.nil? %>
											<%= link_to "schedule student", new_schedule_entry_path(:period_id => period.id) %>
										<% else %>
											<% student_name = [entry.student.first_name, entry.student.last_name].join ' ' %>
											<%= link_to student_name, entry.student %>
											<br/>
											<%= entry.interview_type.name %>
											<% interview = Interview.where(:user_id => entry.user_id, :period_id => entry.period_id, :student_id => entry.student_id).first %>
											<% if interview.nil? %>
												<br/>
												<%= button_to "Remove", entry , {:confirm => "Are you sure?", :method => :delete} %>
											<% else %>
												<br/>
												<br/>
												Interview conducted!
											<% end -%>
										<% end -%>
									</td>
								<% end -%>
							</tr>
						<% end -%>
					</table>
				</div>
				
				<div id="summary">
					<table>
						<tr>
							<td>Summary:</td>
						</tr>
						<tr> 
							<td>
								Counseling:
								<li>Routine:</li>
								<li>Follow-up:</li>
								<li>Group:</li>
							</td>
							
							<td>
								Conferences:
								<li>Moderator:</li>
								<li>Teacher:</li>
								<li>Parent:</li>
							</td>
						</tr>
						
						<tr>
							
							<td colspan="2">
								Recommendations:<br/>
								<textarea name="recommendations" ></textarea><br/>
								<input type="button" name="recommendationbutton" value="submit">
							</td>
						</tr>
						<tr>
							<td colspan="2">
								Meetings:<br/>
								<textarea name="meetings"></textarea><br/>
								<input type="button" name="meetingbutton" value="submit">
							</td>
						</tr>
						<tr>													
							<td colspan="2">
								Others:<br/>
								<textarea name="others"></textarea><br/>
								<input type="button" name="otherbutton" value="submit">
							</td>
						</tr>

					</table>
					<input type="button" value="print">
				</div>
		<br style="clear:both" /> 
