<div id="profile">
	<div id="graypart">
	<table>
		<tr>
			<td id="profhead" colspan="2">
				<ul id="head_bitch">
					<% if @user == current_user %>
					 <li><%= link_to "Edit Profile", edit_user_path(@user) %></li>
					<% end -%>
					<% if current_user.role == 'Head Counselor' %>
					 <li><%= link_to "Edit Sections", { :controller => "users", :action => "sectionedit", :id => @user.id} %></li>
				 <% end -%>
				</ul>
			</td>
		</tr>
		<tr>
			<td>Name:</td>
			<td><%= @user.name %>
			</td>
		</tr>
		<tr>
			<td>E-mail Address:</td>
			<td><%= @user.email %></td>
		</tr>
	</table>
	</div>
</div>

<!-- the only area you can edit-->
				
<br style="clear:both" /> 
