<div id="profile">
	<div id="graypart">
	<table>
		<tr>
			<td id="profhead" colspan="2">Profile:</td>
		</tr>
		<tr>
			<td>Name:</td>
			<td><%= @user.name %>
			</td>
		</tr>
		<tr>
			<td>E-mail Address:</td>
			<td><%= @user.email %></td>
		</tr>
	</table>
	</div>
</div>
