<p id="notice"><%= notice %></p>

<br/>

<p>
	<b>Nature Of Problem:</b>
	<%= @followup_interview.nature_of_problem_type.name %>
</p>

<p>
  <b>Comments:</b>
  <%= @followup_interview.comments %>
</p>

<p>
  <b>Planned intervention:</b>
  <%= @followup_interview.planned_intervention %>
</p>
<br style="clear:both" /> 
